/*2人用ゲーム画面のCSS*/
/*大枠*/
.wapper_2{
	width: 990px;
}

/*プレイヤーごとの領域*/
.player_2-1{
	width: 220px;
}
.player_2-2{
	width: 220px;
	margin-left: 15px;
}
.playerDistinction{/*プレイヤー1か2の箇所*/
	margin-bottom: 2px;
	font-size: 17px;
}
.playerName_2{
	margin-left: 5px;
	min-height: 18px;
	line-height: 1.2;
}
.notChoosing{/*選択中ではないプレイヤーに表示*/
	height: 55px;
	content: " ";
}
#timer{ /*選択中のプレイヤーに表示*/
	margin-left: 6px;
	height: 16px;
	line-height: 16px;
}
.nowChoosing{ /*選択中のプレイヤーに表示*/
	margin: 0 6px 13px 6px;
	padding: 3px;
	background-color: #D8DDF0;
	color: #000;
}
.nowChoosing div{ /*選択中のプレイヤーに表示*/
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	-webkit-animation: switchtext 0.7s infinite alternate;
	-moz-animation: switchtext 0.7s infinite alternate;
	animation: switchtext 0.7s infinite alternate;
}
.nowChoosing div span{ /*選択中のプレイヤーに表示*/
	vertical-align: middle;
}
@-webkit-keyframes switchtext { /*選択中のプレイヤーに表示*/
	from { opacity: 1.0; }
	to { opacity: 0; }
}
@-moz-keyframes switchtext { /*選択中のプレイヤーに表示*/
	from { opacity: 1.0; }
	to { opacity: 0; }
}
@keyframes switchtext { /*選択中のプレイヤーに表示*/
	from { opacity: 1.0; }
	to { opacity: 0; }
}
a.reload{ /*プレイヤー自身にのみ表示*/
	display: block;
	margin: 0 auto 10px auto;
	width: 70px;
	height: 30px;
	border: solid 1px rgba(255,255,255,0.8);
	background-color: rgba(255,255,255,0.5);
	color: #222;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
}
a.reload:hover{ /*プレイヤー自身にのみ表示*/
	background-color: rgba(255,255,255,0.8);
	transition-duration: 0.5s;
}
.score_2{
	width: 100px;
}
