@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

/*全体*/
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}
html,body{
	box-sizing: border-box;
	height: 100%;
}
body{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	background-image: url("../img/background/game_background.png");
	font-size: 16px;
	font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "メイリオ", Meiryo, Lato, "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
@media all and (-ms-high-contrast: none) {/*IEだと游ゴシックで下部に空白が発生するため、外している*/
	body {
	font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Lato, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
}
.page{
	box-sizing: border-box;
	position: relative;
	padding-bottom: 30px;
	min-height: 100%;
	background-color: rgba(255,255,255,0.5);
}

/*ヘッダー*/
header{
	height: 36px;
	background-color: #001F64;
	color: #DDD;
}
header img{
	vertical-align: middle;
	margin: 2px 10px;
}

/*大枠*/
.wapper{
	margin: 0 auto;
	width: 910px;
}

/*勝敗*/
.result{
	margin: 2px auto 0;
	width: 100%;
	height: 200px;
	background: #AAA;
}
.rankImg1{/*1位と2位で切り替える*/
	position: relative;
}
.rankImg1 img{
	position: absolute;

}
.rankimg2 img{/*1位と2位で切り替える*/

}

/*トップページに戻る*/
.toTop{
	margin: 15px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.toTop a{
	color: #001F63;
}
/*獲得したパネル*/
.getPanel{
	float:left;
	padding: 6px 4px 4px 4px;
	background-color: rgba(0, 53, 186, 0.9);
}
.getPanel>p{
	margin: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8),
	 -1px 1px 1px rgba(255,255,255,0.8),
	 1px -1px 1px rgba(255,255,255,0.8),
	 -1px -1px 1px rgba(255,255,255,0.8);
}
ol{
	list-style: none;
	counter-reset: count;
}
/*獲得したパネルのリスト*/
.getPanelList{
	position: relative;
	padding: 5px 0 5px 5px;
	background-color: rgba(223, 230, 255, 0.9);
	border-bottom: solid 1px #444;
}
.getPanelList:last-of-type{
	border-style: none;
}
.getPanelList:before{/*獲得した順番*/
	float: left;
	margin: 2px 5px;
	width: 21px;
	height: 20px;
	counter-increment: count;
	content: counter(count);
	text-align: center;
	font-size: 16px;
	line-height: 20px;
}

/*獲得したパネルのリストの見出し*/
.getPanel li:first-of-type>div:first-of-type{/*項目見出し（獲得したパネル）*/
	float: left;
	margin-left: 35px;
	padding: 0;
	width: 120px;
	height: 41px;
	text-align: center;
	line-height: 40px;
	background-color: #92c0ff;
}
.resultBlock.first{
	float: left;
	width: 437px;
	border-left: solid 1px #666;
}
.score.first{
	padding: 2px 5px;
	font-weight: bold;
	background-color: #92c0ff;
}
.getWord.first{
	padding: 2px 5px;
	background-color: #92c0ff;
}

/*獲得したパネルのリストの中身*/
.getPanelList img{
	float: left;
	width: 120px;
	height: 90px;
}
.getPanel div{
	box-sizing: border-box;
}
.resultBlock:not(.first){
	position: absolute;
	top: 50%;
	left: 158px;
	transform: translateY(-50%);
	-webkit- transform: translateY(-50%);
	width: 400px;
	font-size: 17px;
}
.score{
	vertical-align: bottom;
	border-bottom: solid 1px #666;
}
.score.first>span{
	color:red;
}
.score:not(.first){
	padding: 5px 5px 5px 10px;
	display: table-cell;
	width: 435px;
	height: 45px;
}
.score:not(.first)>span:nth-child(1){
	font-size: 20px;
	font-weight: bold;
}
.score>span:nth-child(2){
	color:red;
}
.getWord:not(.first){
	padding: 5px;
	height: 45px;
	font-weight: bold;
}

/*ランキング、ハイスコア*/
.right{
	float: left;
	margin-left: 10px;
	width: 300px;
}
.right>div:nth-child(1){
	margin-bottom: 5px;
	font-size: 19px;
}
.highScore{
	margin-bottom: 20px;
	background-color: rgba(65, 125, 255, 0.84);
}
.highScore>div:nth-child(1){
	padding: 4px 0 0 4px;
	font-size: 18px;
	font-weight: bold;

}
.highScore>div:nth-child(1)>span{
	font-size: 15px;
	font-weight: normal;
}
.highScore>ol{
	margin-left: 8px;
	padding: 3px 0 5px 0;
	background-color: #dfe6ff;
}
.highScore li,
.ranking li{
	margin: 0 10px 0 10px;
	padding: 3px 0;
	border-bottom: solid 1px #666;
	line-height: 1.2;
}
.rankingWapper{
	padding: 6px 0 0 3px;
	background-color: #9ec7ff;
}
.rankingWapper>div:not(.ranking) {
	font-size: 18px;
	font-weight: bold;
}
.ranking{
	margin: 5px 0 0 5px;
	padding-bottom: 5px;
	background-color: #dfe6ff;
}
.ranking>div{
	box-sizing: border-box;
	margin-bottom: 2px;
	padding-left: 3px;
	height: 24px;
	background-color: rgb(111, 156, 255);
	font-weight: bold;
	line-height: 24px;
}
.player{/*プレイヤー自身の（今回の）順位*/
	background-color: rgba(255, 255, 255, 0.8);
}
.rank{
	float: left;
	width: 20px;
}
.name{
	float: left;
	width: 200px;
	font-weight: bold;
}
.num{
	float: left;
	width: 50px;
	font-weight: bold;
}
.ranking .num{
	text-align: right;
}

/*ロゴ*/
.logo{
	margin: 30px auto 5px auto;
	width: 306px;
	height: 124px;
	border: solid 1px #AAA;
}
.logo+div{
	margin-bottom: 30px;
	text-align: center;
	font-size: 14px;
}

/*フッター*/
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	text-align: center;
	background-color: #001F64;
	line-height: 30px;
	color: #AAA;
	font-size: 12px;
}