@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
.clearfix:after {
	content:" ";
	display:block;
	clear:both;
}
body{
	background-color:#001F64;
	font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "メイリオ", Meiryo, Lato, "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.page{

	position:relative;	
}
/*ヘッダー*/
header{
	z-index:1;
	position:relative;	
	height:60px;
	background-color:#001F64;
	color:#DDD;
	box-shadow:0 0 10px 5px rgba(0,0,0,0.43);
}
header p{
	margin-left:320px;
	line-height:60px;
}
/*企業ロゴ*/
.logo01{
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	width:124px;
	height:124px;
	background-color:#FFF;
	box-shadow:0 0 10px 5px rgba(0,0,0,0.43);
}
/*大会ロゴ*/
.logo02{
	z-index:2;
	position:absolute;
	top:0;
	left:124px;
	width:182px;
	height:124px;
	background-color:#FFF;
	box-shadow:3px 5px 10px 0px rgba(0,0,0,0.43);
}

/*大枠*/
.wapper{
	z-index:0;
	position:relative;
	top:0;
	width:100%;
	height:640px;
	background-color:#FFF;
}
/*背景*/
.backImg{
	position:absolute;
	top:20px;
	width:100%;
	height:600px;
	margin:0 auto;
	background-image:url("../img/top_background.jpg");
	-webkit-animation: backgroundMove 25s linear infinite;
}
/*background-position には画像の横幅を指定*/
@-webkit-keyframes backgroundMove {
	0% {background-position: 0 0;}
	100% {background-position: 3897px 0;}
}
@keyframes backgroundMove {
	0% {background-position: 0 0;}
	100% {background-position: 3897px 0;}
}

.contents{
	margin:150px auto 0;
	width:840px;
}
/*ゲームのロゴ*/
.gameLogo{
	float:left;
	margin:0 150px 0 10px;
	width:350px;
	height:124px;
	text-align:center;
}

/*フォーム部品*/
.form{
	position:relative;
	float:left;
	box-sizing:border-box;
	padding:15px 5px 5px 5px;
	width:330px;
	height:300px;
	background-color:rgba(255,255,255,0.5);
}
.formBlock{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit- transform: translateY(-50%) translateX(-50%);
	width:310px;
}
form{
	margin-bottom:10px;
}
form span{
	font-size:16px;
	font-weight:bold;
}
form input{
	margin:5px;
}
.playStart{
	margin:13px 3px 0 3px;
	padding:2px;
	background-color:rgba(255,255,255,0.5);
	font-size:13px;
	line-height:1.3;
}
.setsumei th{
	vertical-align:top;
	width:70px;
	font-size:13px;
	font-weight:bold;
}

.setsumei td{
	vertical-align:bottom;
	font-size:13px;
}
.form div span{
	font-weight:bold;
}
.form div span{
	font-weight:bold;
}

/*フッター*/
footer{
	width:100%;
	background-color:#001F64;
	text-align:center;
}
footer p{
	margin:15px auto;
	line-height:1.3;
	color:#AAA;
	font-size:12px;
}
