<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>top</servlet-name>
    <servlet-class>ControlPack.TopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>top</servlet-name>
    <url-pattern>/top</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>matching</servlet-name>
    <servlet-class>ControlPack.MatchingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>matching</servlet-name>
    <url-pattern>/matching</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>game</servlet-name>
    <servlet-class>ControlPack.GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>game</servlet-name>
    <url-pattern>/game</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>result</servlet-name>
    <servlet-class>ControlPack.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>result</servlet-name>
    <url-pattern>/result</url-pattern>
  </servlet-mapping>
</web-app>